/*
    Beatable Meat Portal STYLES definer file. Written by https://github.com/sabian-heatwave for Beatable Meat Portal's frame code @ The Phoenix Project
        Copyright © 2020 The Phoenix Project
*/
/* 
    ALL HTML FILES WILL USE THESE STYLES DEFINED HERE UNLESS STATED OTHERWISE IN THE HTML FILE ITSELF.
*/
body {
    font-family: "Lucida Grande";
    background-color: #acacac;
    text-align: center;
    font-size: 130%
}

h1 {
    font-family: "Lucida Grande";
    color: #525252;
}

h2 {
    font-family: "Lucida Grande";
    color: #525252;
}

h3 {
    font-family: "Lucida Grande";
    color: #525252;
}

p {
    font-family: "Lucida Grande";
    color: #525252;
}

a {
    font-family: "Lucida Grande";
    color: #525252;
}

@font-face {
    font-family: "Lucida Grande";
    src: url("lucida.woff2") format('woff');
}